.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    font-size: 20px;
    padding-left: 5%;
    .box{
        width: 500px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 0.9em;
        h2{
            color:#5f5999;
            margin:0;
            padding-top: 30px;
        }
        hr{
            width: 100%;
            opacity: 0.5;
        }
        .line{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: auto;
            padding: 5px;
            margin:5px 0px;
            white-space: nowrap;
            background-color: #eae8f89c;
            border-radius: 5px;
        }
        .line>div{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            .day-group{
                overflow: hidden;
                white-space:nowrap;
                margin-right: 10px;
                border-radius: 2px;
                width: 100%;
                color:#5f5999;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-left: 4px solid #5f5999;
                &:hover .day{
                    opacity: 1;
                    transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
                    max-width: 160px;
                    padding-right: 15px;
                }
                &:hover .day-short{
                    padding-right: 0px;
                    width: auto;

                }
                .day-short {
                    // width: 30px;
                    display: flex;
                    font-weight: 600;
                    white-space: nowrap;
                    font-size: 22px;
                    padding: 10px 0px 10px 10px;
                    border-radius: 5px;
                    &:hover{
                        width: auto;
                    } 
                }
                .day{
                    font-weight: 600;
                    white-space: nowrap;
                    font-size: 22px;
                    border-radius: 5px;
                    opacity: 0;
                    max-width: 0;
                    display: inline-block;
                    text-decoration: none;
                    transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s;
                }
            }
            .description{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 80%;
                font-size: 18px;
            }
        }
    }
}
